body {
    font-family: "heivetica", sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

#login-box {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
}


#login-box[hidden] {
    display: none;
}

#login-box input[type=email],
#login-box input[type=password] {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
}

button {
    background-color: #5c67ff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4c57e8;
}

button:active {
    background-color: #4048d4;
}

a {
    color: #5c67ff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    text-decoration: underline;
}


.high-value {
    color: green;
}

.low-value {
    color: red;
}

/* Since cost is the opposite, switch the colors */
.high-cost {
    color: red;
}

.low-cost {
    color: green;
}

.review {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}