body {
    font-family: "heivetica", sans-serif;
    text-align: center;
}

.high-value {
    color: green;
}

.low-value {
    color: red;
}

/* Since cost is the opposite, switch the colors */
.high-cost {
    color: red;
}

.low-cost {
    color: green;
}