<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <title>Compare EVs</title>
</head>
<body>
    <h1>Select Two EVs to Compare</h1>
    <form action="/perform_comparison" method="get">
        <label for="ev1">Choose the first EV:</label>
        <select name="ev1_id" id="ev1">
            {% for ev in evs %}
            <option value="{{ ev.id }}">{{ ev.name }}</option>
            {% endfor %}
        </select><br>

        <label for="ev2">Choose the second EV:</label>
        <select name="ev2_id" id="ev2">
            {% for ev in evs %}
            <option value="{{ ev.id }}">{{ ev.name }}</option>
            {% endfor %}
        </select><br>

        <input type="submit" value="Compare">
    </form>
    <a href="/">Back to previous page</a>
</body>
</html>
