<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search EV</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
</head>
<body>
    <h1>Search Electric Vehicle</h1>
    <form action="/query_ev" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="manufacturer">Manufacturer:</label>
        <input type="text" id="manufacturer" name="manufacturer"><br><br>

        <label for="year">Year:</label>
        <input type="number" id="year" name="year"><br><br>

        <label for="battery_size">Battery Size (Kwh):</label>
        <input type="text" id="battery_size" name="battery_size"><br><br>

        <label for="wltp_range">WLTP Range (Km):</label>
        <input type="text" id="wltp_range" name="wltp_range"><br><br>

        <label for="cost">Cost:</label>
        <input type="text" id="cost" name="cost"><br><br>

        <label for="power">Power (Kw):</label>
        <input type="text" id="power" name="power"><br><br>

        <input type="submit" value="Search">
    </form>
</body>
</html>
